.shop_wrap {
  max-width: 1200px;
  margin: auto;
}

.shop_item {
  li {
    cursor: pointer;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    &:hover {
      color: #ffffff;
      background-color: #8d9aff;
      border-left: 2px solid green;
    }
    span {
      display: inline-block;
      padding: 0 10px;
      margin-right: 15px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #fff;
      &:nth-child(1) {
        background-color: red;
      }
      &:nth-child(2) {
        background-color: green;
      }
      &:nth-child(3) {
        background-color: pink;
      }
    }
  }
}


.stats {
  .form-control {
    font-size: 1.5rem;
  }
}

